<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="LegistarConfigDB" connectionString="Data Source=.;Initial Catalog=dbLegistarConfiguration;Persist Security Info=True;User ID=daystar;Password=daystar" />
    <add name="LegistarHangfireDB" connectionString="Data Source=.;Initial Catalog=dbLegistarHangfire;Persist Security Info=True;User ID=daystar;Password=daystar" />
  </connectionStrings>
  
</configuration>