<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LaserFicheConnectorTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="LserFicheConnectorTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <applicationSettings>
        <LaserFicheConnectorTest.Properties.Settings>
            <setting name="LaserFicheConnectorTest_LFDocumentManagementConnector_LSDocumentManagementConnector"
                serializeAs="String">
                <value>http://laserfiche-us-qa-1.granicusops.com/LSDMC/LSDocumentManagementConnector.asmx</value>
            </setting>
        </LaserFicheConnectorTest.Properties.Settings>
        <LserFicheConnectorTest.Properties.Settings>
            <setting name="LaserFicheConnectorTest_LFDocumentManagementConnector_LSDocumentManagementConnector" serializeAs="String">
                <value>http://laserfiche-us-qa-1.granicusops.com/LSDMC/LSDocumentManagementConnector.asmx</value>
            </setting>
        </LserFicheConnectorTest.Properties.Settings>
    </applicationSettings>
</configuration>
